@tailwind base;

a { @apply underline text-blue-400; }
a:hover { @apply text-blue-500; }
code { @apply font-mono font-normal text-xs tracking-wide text-gray-700 bg-gray-200 border border-gray-300 rounded whitespace-no-wrap py-1 px-2; }
pre { @apply bg-gray-200 border-l-4 border-blue-500 overflow-x-scroll overflow-y-hidden; }
pre > code { @apply block text-gray-700 border-0 whitespace-pre-wrap; }
pre > code.nowrap { @apply whitespace-pre; }
button { @apply select-none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-tap-highlight-color: transparent; }

@tailwind components;

.iconBtn { @apply w-12 h-12 border border-gray-300 rounded flex flex-col items-center justify-center; }
.iconBtn:focus { @apply outline-none; }
.iconBtn svg { @apply w-6 h-6 fill-current; }
.iconBtn div { @apply tracking-tighter; font-size: 0.625rem; }
#output pre { @apply ml-12; min-height: 12rem; }

@tailwind utilities;
