/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-base-100 text-base-content font-sans;
    -webkit-tap-highlight-color: transparent;
  }
}
